@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: inter_f;
  src: url(./fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: inter_f;
  src: url(./fonts/Inter-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: inter_f;
  src: url(./fonts/Inter-Medium.ttf);
  font-weight: 500;
}

@layer base {
  html {
    font-family: inter_f, sans-serif;
  }
}

body {
  @apply text-primary;
}

.input-behavior {
  @apply px-12 py-3 w-full border rounded-md placeholder-primary-mid font-light outline-none border-primary-darker transition-all hover:border-accent-dark hover:ring-2 hover:ring-accent-dark focus:border-accent-dark focus:ring-2 focus:ring-accent-dark;
}

.input-error {
  @apply border-error ring-2 ring-error hover:border-error hover:ring-error focus:border-error focus:ring-error;
}

.select-behavior {
  @apply placeholder-primary-mid font-light outline-none border-primary-darker transition-all hover:border-accent-dark hover:ring-2 hover:ring-accent-dark focus:border-accent-dark focus:ring-2 focus:ring-accent-dark;
}
